<!-- // Authors: Alejandro Elizondo 1155123257, Ubaydullo Rustami 1155102622, Andres Tamez 1155123046 -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Final Project" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<title>Home</title>
	<script type="text/javascript" src="js/eventConfig.js"></script>
</head>
<body>
	<%- include("navbar") -%>
	<section class="container-fluid  text-light bg-secondary" style="padding-top: 35px" id="hobbies">
		<div class="container" style="padding-bottom: 35px">
			<h2>Event Details:</h2>
			<hr>
			<div class="row">
				<div class="transform col-md-12">
					<ul class="list-group text-info" id="listaHobbies">
						<li class="list-group-item" id="idNum">#: <%= activityId %> </li>
						<li class="list-group-item">Event: <%= name %> </li>
						<li class="list-group-item">Schedule: <%= schedule %> </li>
						<li class="list-group-item">Organization Name: <%= organization %> </li>
						<li class="list-group-item">Location: <%= location %> </li>
						<li class="list-group-item">Charitable: <%= charitable %> </li>
					</ul>
				</div>
				<div class="transform col-md-12" id="addHobbies">
					<form class="well col-xs-6 col-xs-offset-3">
						<div class="form-group">
							<label id="commentTitle" for="comment">Comment:</label>
							<textarea class="form-control" rows="5" id="comment"></textarea>
						</div>
						<button type="button" class="btn btn-primary btn-sm" id="comentar">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid">
		<ul class="list-group text-info" id="commentList">
			<li class="list-group-item"><H4>Comments:</H4></li>
			<% for (var i = 0; i < size; i++) { %>
			<li class="list-group-item"><div class="media-body"><H6><%=comments[i]%></H6></div></li>
			<%}%>

		</ul>
	</section>
</body>
</html>
