<!-- // Authors: Alejandro Elizondo 1155123257, Ubaydullo Rustami 1155102622, Andres Tamez 1155123046 -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Final Project" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<title>Home</title>
</head>
<body>
	<%- include("navbar") -%>
	<section class="container-fluid" style="padding-top: 35px">
		<div class="container-fluid table-responsive" style="padding-left:40px; padding-right: 40px">
			<h2 style="text-align: center;">Favorite Activities</h2>
		</br>
			<table id="events" class="table display responsive" width="100%">
				<thead class="thead-dark"">
					<tr>
						<th onclick="sort(1)" scope="col">Activity</th>
						<th onclick="sort(2)" scope="col">Date</th>
						<th onclick="sort(3)" scope="col">Organization</th>
						<th onclick="sort(4)" scope="col">Location</th>
						<th onclick="sort(5)" scope="col">Charitable</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < favorites.length; i++) { %>
					<tr>
						<td> <%= favorites[i][0] %> </td>	<!-- Activity name -->
						<td> <%= favorites[i][1] %> </td>	<!-- Activity schedule -->
						<td> <%= favorites[i][2] %> </td>	<!-- Organization name -->
						<td> <%= favorites[i][3] %> </td>	<!-- Location name -->
						<td> <%= favorites[i][4] %> </td>	<!-- Charitable -->
					</tr>
					<% } %>
				</tbody>
				<tfoot>
					<tr>
						<th>Activity</th>
						<th>Date</th>
						<th>Organization</th>
						<th>Location</th>
						<th>Charitable</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</section>
</body>
</html>
